<div class="row home" *ngIf="user">
    <div class="col-4 col-sm-4">
        <img [src]="user['avatar'] || 'assets/images/users/1.jpg'" class="img-fluid img-thumbnail img-responsive" width="100%" alt="">
    </div>
    <div class="col-sm-8">
        <form action="">


            <ul class="list-group">
                <li class="list-group-item active text-center text-uppercase"> {{ user['nick'] }} </li>
                <li class="list-group-item">Online</li>
                <li class="list-group-item"> {{ user['email'] }} </li>
                <li class="list-group-item"><input type="text" class="form-control" placeholder="Escribe un mensaje personal"></li>
            </ul>

            <div class="form-group">

                <button class="btn-outline-primary m-2 p-2 ">Guardar datos</button>
                <button [routerLink]="['/perfil']" class="btn-outline-info p-2 text-right">Perfil</button>

            </div>
        </form>

    </div>
</div>

<form>
    <div class="form-group main-container">
        <div class="row">
            <div class="col-10">

                <input name="query" [(ngModel)]="query" class="form-control form-control-lg" type="search" placeholder="Buscar un amigo" aria-label="Search">
            </div>
            <div class="col-2">

                <img (click)="open(content)" class="logoFriend" src="assets/img/logo_live_add.png" alt="">
            </div>
        </div>
    </div>

</form>

<h3 class="alert alert-success col-sm-12 text-center text-uppercase main-container">Lista de amigos</h3>

<div class="row">
    <div class="col-sm-6 col-md-4 card-creado" *ngFor="let users of usuario | keys ">
        <div class="card" style="width: 100%" *ngIf="userUid != users && userUid">
            <img class="card-img-top img-thumbnail" [src]="usuario[users]['avatar'] || 'assets/images/users/1.jpg'" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ usuario[users]['nick'] }}</h5>
                <p *ngIf="users['subnick']">{{ usuario[users]['subnick']}}</p>
                <p>{{ usuario[users]['email'] }}</p>

                <a [routerLink]="['/conversacion', users]">
                    <p class="btn btn-outline-info">
                        Ir al chat
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="dateOfBirth">Ingresa correo de tu amigo</label>

                    <input name="friendEmail" type="text" class="form-control" placeholder="Correo" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Save</button>
    </div>
</ng-template>

<button class="btn btn-outline-primary m-3" (click)="open(content)">Agregar amigo</button>