<div class="row profile">
    <div class="col-12 col-sm-4">
        <div class="row">
            <div class="col-6 col-sm-12" *ngIf="user">

                <img [src]="croppedImage || user.avatar || 'assets/images/users/1.jpg' " />
            </div>
            <div class="col-6 col-sm-12">
                <h5 class="card-creado">Cambiar foto</h5>
                <input type="file" (change)="fileChangeEvent($event)">
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-8 card-creado " *ngIf="user ">

        <div class="col-sm-9 " *ngIf="user ">
            <image-cropper [imageChangedEvent]="imageChangedEvent " [maintainAspectRatio]="true " [aspectRatio]="1 / 1 " [resizeToWidth]="128 " format="png " (imageCropped)="imageCropped($event) " (imageLoaded)="imageLoaded() " (loadImageFailed)="loadImageFailed() "></image-cropper>

        </div>


        <h4 class="title-up">Ingrese su datos personales</h4>

        <p class="alert alert-success " *ngIf="status ">Datos actualizados correctamente</p>

        <form (ngSubmit)="updateUser(user.uid) ">
            <div class="form-group ">
                <input name="nick " [(ngModel)]="user.nick " class="form-control form-control-lg " type="text " placeholder="Ingresa nick ">
            </div>
            <div class="form-group ">
                <input name="subnick " [(ngModel)]="user.subnick " class="form-control form-control-lg " type="text " placeholder="Ingresa subnick ">
            </div>
            <div class="form-group ">
                <input name="email " [(ngModel)]="user.email " class="form-control form-control-lg " type="text " placeholder="Ingresa email ">
            </div>
            <div class="form-group ">
                <select class="form-control form-control-lg " name=" " id=" ">
                 <option value="conectado ">Conectado</option>
                 <option value="desconectado ">Desconectado</option>
               </select>
            </div>
            <div class="form-group ">
                <button class="btn btn-outline-primary m-3 ">Guardar datos</button>
                <button [routerLink]="[ '/home'] " class="btn btn-outline-danger ">Cancelar</button>
            </div>
        </form>
    </div>
</div>